*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: auto;
  margin: 0;
  padding: 0 32px;
}

.section {
  padding: 32px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
}

.header-container {
  display: block;
}

.nav {
  display: block;
}

.logo {
  margin-right: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio-header {
  color: #2e2f42;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.nav-list {
  display: block;
  margin-top: 24px;
}

.nav-link {
  display: block;
  padding: 0 0 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  margin-top: 12px;
}

.address-list {
  display: block;
}

.address-link {
  display: block;
  padding: 0 0 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
  padding: 188px 0;
  background-color: #2e2f42;
}

.hero-container {
  display: block;
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: 120px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: 225px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.advantages-list {
  display: block;
}

.advantages-item {
  width: auto;
  margin-bottom: 24px;
}

.advantages-subtitle,
.team-subtitle,
.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text,
.team-text,
.portfolio-text,
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: block;
}

.team-item {
  width: 264px;
  margin-bottom: 24px;
  background-color: #ffffff;
}

.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.portfolio-list {
  display: block;
}

.portfolio-item {
  width: 360px;
  margin-bottom: 24px;
}

.portfolio-card-content {
  padding: 16px 0 0;
  border: 0;
}

.footer {
  padding: 8px 0;
  background-color: #2e2f42;
}

.footer .container {
  padding: 0;
}

.footer .logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px;
  padding: 0;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
